.Logo {
  height: 450px;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;


}


.Logo img {
  border-radius: 50%;
  transition: 1s;
  height: 90%;
  width: 40%;
}

.Logo img:hover{
  transform: rotateY(360deg);

}
