.Greed {
  overflow-x: auto;
  /*width: 500px;*/
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*height: 500px;*/
  /*background: red;*/
  overflow-y: hidden;
  padding-bottom: 80px;
}
.PlaylistTitle {
  font-size: 70px;
  margin-left: 370px;
}

.Greed h1 {
  display:block;
  width: 100%;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.Button {
  display: flex;
  margin-left: 10px
}
